h3 {
  margin-bottom: 0;
  font-weight: bold;
}

.mat-grid-list {
  width: 70%;
  margin: auto;
  margin-top: 1rem;
}

.mat-card{
  width: calc(100% - 70px);;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content{
  flex-grow: 1;
  overflow: auto;
}

.center {
  margin: auto;
  width: 25%;
  text-align: center;
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 350%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

