<h1>Kup bilet</h1>
<form #f="ngForm" (ngSubmit)="(f.form.valid || f.valid) && onSend(f)">
  <div mat-dialog-content>
    <mat-form-field class="example-full-width">
      <mat-label for="seat">Miejsce</mat-label>
      <mat-select
        name="seat"
        #seat="ngModel"
        ngModel
        required
      >
        <mat-option *ngFor="let seat of seatsAvailable" [value]="seat">{{seat}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="seat.errors?.['required'] && seat.touched" class="alert alert-danger">
      Numer miejsca jest wymagany
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button type="submit" cdkFocusInitial>Ok</button>
    <button mat-button type="button" (click)="onNoClick(); false">Anuluj</button>
  </div>
</form>

